====== 各地域の認定Rhinoトレーナー（ART）条件 ======
[[https://www.rhino3d.com/art|認定Rhinoトレーナー（ART）の基本条件]]に加え、それぞれの地域で候補者に必須の追加項目があり、認定前に満たす必要があります。
各地域の認定条件は以下の通りです。
  * [[art_requirements#北米および太平洋地域|北米および太平洋地域]]
  * [[art_requirements#中南米|中南米]]
  * [[art_requirements#ヨーロッパ、中東、アフリカ|ヨーロッパ、中東、アフリカ]]
  * [[art_requirements#中国、香港、台湾|中国、香港、台湾]]
  * [[art_requirements#南アジア|南アジア]]
  * [[art_requirements#韓国|韓国]]
  * [[art_requirements#日本|日本]]

全ての条件を満たした段階で、こちらの[[http://my.mcneel.com/apply/art_application.asp|フォーム]]を弊社までお送りください。審査・認定後は:
  * [[https://www.rhino3d.com/training/Japan/|トレーニング]]のRhinoウェブページに開催されるトレーニングセッションを掲載できるアクセスを提供します。
  * **[[https://www.rhino3d.com/artc|認定Rhinoトレーニングセンター]]**でトレーニングを提供していただくことができます。
  * カスタムトレーニングを提供していただけます。詳細は[[http://www2.mcneel.com/training/results_by_site.asp?SiteOffersCustomTraining=1&ProductID=1&SiteOffersFreeEduTraining=-1&show_by=site|Rhinoオンサイトトレーニング]]のウェブページに掲載されます。
  * ARTの認定を受けられた場合の特典等の詳細についてはこちらの[[https://wiki.mcneel.com/rhino/art_requirements/incentives|ページ]]をご覧ください。

------
===== 北米および太平洋地域 ===== 
//（フロリダ州、ジョージア州、ノースカロライナ州、サウスカロライナ州を除く）米国、カナダ、オーストラリア、ニュージーランドを含みます//

See details here: [[https://wiki.mcneel.com/rhino/training_program_na_region|AUTHORIZED TRAINING PROGRAM North American Region]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}


------


===== 米国フロリダ州、ジョージア州、ノースカロライナ州、サウスカロライナ州 + 中南米 ===== 
//米国フロリダ州、ジョージア州、ノースカロライナ州、サウスカロライナ州 + 中南米//

See details here: [[https://wiki.mcneel.com/rhino/training_program_la_region|AUTHORIZED TRAINING PROGRAM Latin America Region]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}


------

===== ヨーロッパ、中東、アフリカ =====

See details here: [[https://wiki.mcneel.com/rhino/training_program_emea|AUTHORIZED TRAINING PROGRAM EMEA (EUROPE, MIDDLE EAST AND AFRICA)]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}

------
===== 中国、香港、台湾 =====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel China or participate in **Rhinoceros Level 1 Training online** with McNeel China as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel China. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]| |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|------

------
===== 南アジア ====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** and **Rhinoceros Level 2 **at McNeel South Asia (Your Rhino expertise will be evaluated throughout the Rhino Training.)|{{ :rhino:leveloneguide.jpg?200}}| 
|2. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]|{{ :rhino:results.png?175|}} |
|3. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]| |
|4. |Complete and submit your application. Your application will be reviewed and processed when all requirements are completed.| |

------
===== 韓国 =====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel Korea or participate in **Rhinoceros Level 1 Training online** with McNeel Korea as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel Korea. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]|{{ :rhino:results.png?175|}}  |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|

------
===== 日本 =====
^ ^条件 ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel Japan or participate in **Rhinoceros Level 1 Training online** with McNeel Japan as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel Japan. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]|{{ :rhino:results.png?175|}}  |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|
