====== Requisiti ART per paese ======
Oltre ai [[https://www.rhino3d.com/art|requisiti di base per i formatori ART (Authorized Rhino Trainer)]], 
ciascun paese presenta ulteriori requisiti che un candidato ART deve soddisfare per diventare formatore autorizzato.
Di seguito, vengono indicati i requisiti per paese.
  * [[art_requirements#America settentrionale e zona del Pacifico|America settentrionale e zona del Pacifico]]
  * [[art_requirements#Florida, Georgia, Carolina del Nord e Carolina del Sud + America Latina|America Latina]]
  * [[art_requirements#Europa, Medio  Oriente e Africa|Europa, Medio Oriente e Africa]]
  * [[art_requirements#Cina, Hong Kong e Taiwan|Cina, Hong Kong e Taiwan]]
  * [[art_requirements#Asia meridionale|Asia meridionale]]
  * [[art_requirements#Corea|Corea]]
  * [[art_requirements#Giappone |Giappone]]

Una volta soddisfatti tutti i requisiti, inviaci questo [[http://my.mcneel.com/apply/art_application.asp|modulo.]] Dopo aver rivisto e approvato la tua candidatura:
  * Ti verrà fornito accesso per pubblicare le tue sessioni formative sulla pagina web di Rhino dedicata alla [[https://www.rhino3d.com/training/United_States/|formazione]].
  * Potrai impartire corsi presso un **[[https://www.rhino3d.com/artc|Centro di formazione autorizzato Rhino]]**.
  * Potrai offrire formazione personalizzata. I tuoi dati verranno pubblicati sulla [[http://www2.mcneel.com/training/results_by_site.asp?SiteOffersCustomTraining=1&ProductID=1&SiteOffersFreeEduTraining=-1&show_by=site|pagina web dedicata alla formazione di Rhino on-site]].

------
===== America settentrionale e zona del Pacifico ===== 
//Stati Uniti (tranne Florida, Georgia, Carolina del Nord e Carolina del Sud), Canada, Australia e Nuova Zelanda//.

^ ^Requisiti ^ ^ 
|1. |Seguire il **corso di 1º livello di Rhino** presso McNeel Seattle o partecipare al **corso online di 1º livello di Rhino 6 per Windows** con McNeel Seattle come assistente formativo.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Seguire il **corso di 2º livello di Rhino 6** presso McNeel Seattle (nessuna eccezione). [[https://www.rhino3d.com/training/United_States/Washington|Orario del corso di Seattle]]. Inviare un'e-mail a [[jody@mcneel.com|Jody Mills]] per ulteriori date.|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Superare i **test di certificazione utente Rhino di 1º e 2º livello**  [[https://wiki.mcneel.com/rhino/certified_test|Dettagli.]]|{{ :rhino:results.png?175|}}  |
|4. |Soddisfare tutti gli altri requisiti [[https://www.rhino3d.com/art|indicati sulla pagina web dedicata alla formazione autorizzata ART.]]| |

------
{{ :rhino:dofygh.jpg?200|}}
===== Florida, Georgia, Carolina del Nord e Carolina del Sud + America Latina ===== 

**Requisiti**

  * Due anni di esperienza in modellazione con Rhino.
  * Conoscere le Guide pratiche di 1º e 2º livello di Rhino.
  * Aver partecipato al **corso di 1º livello di Rhino + Grasshopper** presso McNeel Miami, impatito da uno dei formatori McNeel.
  * Aver partecipato al **corso di 2º livello di Rhino** presso McNeel Miami o al corso [[https://www.mcneelmiami.com/online|online]] impartito da uno dei formatori McNeel.
  * Superare **i test di certificazione utente Rhino di 1º e 2º livello** [[https://wiki.mcneel.com/es/rhino/certified_test|dettagli]].
  * Aver pubblicato un video o tutorial scritto di Rhino. [[https://wiki.mcneel.com/rhino/art_video|Esempi...]]
  * Essere in possesso di una licenza aggiornata di Rhino.

**Iscrizione**

Una volta soddisfatti tutti i requisiti, inviaci questo [[https://my.mcneel.com/apply/art_application.asp|modulo]]. Dopo aver rivisto e approvato la tua candidatura, ti invieremo il certificato di “Formatore autorizzato Rhino” e:

  * Ti forniremo accesso a [[https://my.mcneel.com/|my.mcneel.com]] per aggiungere i tuoi dati di contatto all'elenco online dei formatori autorizzati.
  * Potrai impartire corsi presso un **Centro di formazione autorizzato Rhino**.
  * Potrai offrire formazione personalizzata. Le tue informazioni di contatto verranno pubblicate sulla [[https://www.rhino3d.com/training|pagina web relativa alla formazione di Rhino on-site]].


------
===== Europa, Medio Oriente e Africa =====

Consulta [[https://wiki.mcneel.com/rhino/training_program_emea|IL PROGRAMMA DI FORMAZIONE AUTORIZZATO - EMEA (EUROPA, MEDIO ORIENTE E AFRICA)]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}

------
===== Cina, Hong Kong e Taiwan =====
^ ^Requisiti ^ ^ 
|1. |Seguire il **corso di 1º livello di Rhinoceros** presso McNeel China o partecipare alla **formazione online di 1º livello di Rhinoceros** con McNeel China come assistente formativo|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Seguire il **corso di 2º livello di Rhinoceros** presso McNeel China. rhino:rhinolevel2guide.jpg?200|}}|
|3. |Superare i **test di certificazione utente Rhino di 1º e 2º livello**  [[https://wiki.mcneel.com/rhino/certified_test|Dettagli.]]| |
|4. |Soddisfare gli altri requisiti ART [[https://www.rhino3d.com/art|indicati sulla pagina web dedicata alla formazione autorizzata ART.]]|------

------
===== Asia meridionale ====
^ ^Requisiti ^ ^ 
|1. |Seguire i **corsi di 1º e 2º livello di Rhinoceros** presso McNeel South Asia (le tue competenze su Rhino verranno valutate durante la formazione di Rhino.)|{{ :rhino:leveloneguide.jpg?200}}| 
|2. |Superare i **test di certificazione utente Rhino di 1º e 2º livello**  [[https://wiki.mcneel.com/rhino/certified_test|Dettagli.]]|{{ :rhino:results.png?175|}} |
|3. |Soddisfare gli altri requisiti ART [[https://www.rhino3d.com/art|indicati sulla pagina web dedicata alla formazione autorizzata ART.]]| |
|4. |Completare e inviare la candidatura che verrà rivista ed elaborata una volta soddisfatti tutti i requisiti.| |

------
===== Corea =====
^ ^Requisiti ^ ^ 
|1. |Seguire il **corso di 1º livello di Rhinoceros** presso McNeel Korea o partecipare alla **formazione online di 1º livello di Rhinoceros** con McNeel Korea come assistente formativo|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Seguire il **corso di 2º livello di Rhinoceros** presso McNeel Korea (nessuna eccezione).|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Superare i **test di certificazione utente Rhino di 1º e 2º livello**  [[https://wiki.mcneel.com/rhino/certified_test|Dettagli.]]|{{ :rhino:results.png?175|}}  |
|4. |Soddisfare gli altri requisiti ART [[https://www.rhino3d.com/art|indicati sulla pagina web dedicata alla formazione autorizzata ART.]]|

------
===== Giappone =====
^ ^Requisiti ^ ^ 
|1. |Seguire il **corso di 1º livello di Rhinoceros** presso McNeel Japan o partecipare alla **formazione online di 1º livello di Rhinoceros** con McNeel Japan come assistente formativo|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Seguire il **corso di 2º livello di Rhinoceros** presso McNeel Japan (nessuna eccezione).|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Superare i **test di certificazione utente Rhino di 1º e 2º livello**  [[https://wiki.mcneel.com/rhino/certified_test|Dettagli.]]|{{ :rhino:results.png?175|}}  |
|4. |Soddisfare gli altri requisiti ART [[https://www.rhino3d.com/art|indicati sulla pagina web dedicata alla formazione autorizzata ART.]]|

 