====== Requisiti ART per paese ======
Oltre ai [[https://www.rhino3d.com/art|Requisiti di base per formatori ART (Authorized Rhino Trainer)]], 
ciascun paese presenta i propri requisiti aggiuntivi che i candidati ART dovranno soddisfare prima della certificazione.
Di seguito, vengono indicati i requisiti per paese.
  * [[art_requirements#North America & Pacific|America settentrionale e zona del Pacifico]]
  * [[art_requirements#FL, GA, NC e SC + America latina|FL, GA, NC e SC + America latina]]
  * [[art_requirements#Europe, Middle East, and Africa|Europa, Medio Oriente e Africa]]
  * [[art_requirements#China, Hong Kong, and Taiwan|Cina, Hong Kong e Taiwan]]
  * [[art_requirements#South Asia|Asia meridionale]]
  * [[art_requirements#Korea|Corea]]
  * [[art_requirements#Japan|Giappone ]]

Una volta soddisfatti tutti i requisiti, inviaci questo [[http://my.mcneel.com/apply/art_application.asp|modulo.]] Dopo aver rivisto e approvato la tua candidatura:
  * Ti verrà fornito accesso per pubblicare le tue sessioni formative sulla pagina web di Rhino dedicata alla [[https://www.rhino3d.com/training/United_States/|formazione]].
  * Potrai impartire corsi presso un **[[https://www.rhino3d.com/artc|Centro di formazione autorizzato Rhino]]**.
  * Potrai offrire formazione personalizzata. I tuoi dati verranno pubblicati sulla [[http://www2.mcneel.com/training/results_by_site.asp?SiteOffersCustomTraining=1&ProductID=1&SiteOffersFreeEduTraining=-1&show_by=site|pagina web dedicata alla formazione di Rhino on-site]].
  * Per incentivi aggiuntivi e risultati pratici relativi ai formatori ART, consulta questa [[https://wiki.mcneel.com/rhino/art_requirements/incentives|pagina]].

------
===== America settentrionale e zona del Pacifico ===== 
//Stati Uniti (tranne Florida, Georgia, Carolina del Nord e Carolina del Sud), Canada, Australia e Nuova Zelanda//.

Ulteriori informazioni qui: [[https://wiki.mcneel.com/rhino/training_program_na_region|PROGRAMMA DI FORMAZIONE AUTORIZZARA America settentrionale]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}


------


===== Florida, Georgia, Carolina del Nord e Carolina del Sud + America Latina ===== 
//Florida, Georgia, North Carolina, South Carolina America latina//

Ulteriori informazioni qui: [[https://wiki.mcneel.com/rhino/training_program_LA_region|PROGRAMMA DI FORMAZIONE AUTORIZZARA America latina]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}


------

===== Europa, Medio Oriente e Africa =====

Ulteriori informazioni qui: [[https://wiki.mcneel.com/rhino/training_program_emea|IL PROGRAMMA DI FORMAZIONE AUTORIZZATO - EMEA (EUROPA, MEDIO ORIENTE E AFRICA)]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}

------
===== Cina, Hong Kong e Taiwan =====
^ ^Requisiti ^ ^ 
|1. |Seguire il **corso di 1º livello di Rhinoceros** presso McNeel China o partecipare alla **formazione online di 200º livello di Rhinoceros** con McNeel China come assistente formativo|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Seguire il **corso di 2º livello di Rhinoceros** presso McNeel Cina. (nessuna eccezione.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Superare i **test di certificazione utente Rhino di 1º e 2º livello**  [[https://wiki.mcneel.com/rhino/certified_test|Dettagli.]]| |
|4. |Soddisfare gli altri requisiti ART [[https://www.rhino3d.com/art|indicati sulla pagina web dedicata alla formazione autorizzata ART.]]|------

------
===== Asia meridionale ====
^ ^Requisiti ^ ^ 
|1. |Seguire i **corsi di 1º e 2º livello di Rhinoceros** presso McNeel South Asia (le tue competenze su Rhino verranno valutate durante la formazione di Rhino.)|{{ :rhino:leveloneguide.jpg?200}}| 
|2. |Superare i **test di certificazione utente Rhino di 1º e 2º livello**  [[https://wiki.mcneel.com/rhino/certified_test|Dettagli.]]|{{ :rhino:results.png?175|}}  |
|3. |Soddisfare gli altri requisiti ART [[https://www.rhino3d.com/art|indicati sulla pagina web dedicata alla formazione autorizzata ART.]]| |
|4. |Completare e inviare il modulo di richiesta. Il modulo di richiesta verrà rivisto e approvato se completo di tutti i requisiti.| |

------
===== Corea =====
^ ^Requisiti ^ ^ 
|1. |Seguire il **corso di 1º livello di Rhinoceros** presso McNeel Korea o partecipare alla **formazione online di 200º livello di Rhinoceros** con McNeel Korea come assistente formativo|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Seguire il **corso di 2º livello di Rhinoceros** presso McNeel Korea. (nessuna eccezione.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Superare i **test di certificazione utente Rhino di 1º e 2º livello**  [[https://wiki.mcneel.com/rhino/certified_test|Dettagli.]]|{{ :rhino:results.png?175|}}  |
|4. |Soddisfare gli altri requisiti ART [[https://www.rhino3d.com/art|indicati sulla pagina web dedicata alla formazione autorizzata ART.]]|

------
===== Giappone =====
^ ^Requisiti ^ ^ 
|1. |Seguire il **corso di 1º livello di Rhinoceros** presso McNeel Japan o partecipare alla **formazione online di 200º livello di Rhinoceros** con McNeel Japan come assistente formativo|}}| 
|2. |Seguire il **corso di 2º livello di Rhinoceros** presso McNeel Japan. (nessuna eccezione.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Superare i **test di certificazione utente Rhino di 1º e 2º livello**  [[https://wiki.mcneel.com/rhino/certified_test|Dettagli.]]|{{ :rhino:results.png?175|}}  |
|4. |Soddisfare gli altri requisiti ART [[https://www.rhino3d.com/art|indicati sulla pagina web dedicata alla formazione autorizzata ART.]]|

 