======Zoo - 시스템 요구사항======
> **제품:** //[[ko:zoo:home|Zoo]]//
> **요약:** //Zoo 실행에 필요한 시스템 요구사항 안내.//

=====시스템 요구사항=====
  * Windows 기반 시스템
  * [[https://www.microsoft.com/ko-kr/download/details.aspx?id=30653|Microsoft .NET Framework 4.5]]
  * TCP/IP이 구성된 네트워크 연결.

안내: Zoo는 **[[[:ko:zoo:window7firewall|TCP Port 80]]**를 사용하여 통신합니다. 따라서 Zoo 5를 설치할 Windows 기반 시스템에서는 다른 소프트웨어에서 이미 **[[[:ko:zoo:window7firewall|TCP Port 80]]**을 사용하여 실행 중이어서는 안 됩니다. 여기서 말하는 다른 소프트웨어에는 다음과 같은 소프트웨어가 해당됩니다:

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[:ko:zoo:zooskype|Skype]]