======LAN Zoo - 시스템 요구 사항======
> **제품:** //[[ko:zoo:home|Zoo]]//
> **요약:** //LAN Zoo를 실행하기 위해 필요한 시스템 요구 사항에 대한 안내입니다.//

=====시스템 요구 사항=====
  * [[https://learn.microsoft.com/ko-kr/dotnet/framework/get-started/system-requirements|Microsoft .NET Framework 4.8]] 을 지원하는 Windows 기반 시스템
  * TCP/IP 용으로 설정된 네트워크 연결
  * 가상 컴퓨터 호스트 지원

안내: LAN Zoo는 **[[[ko:zoo:window7firewall|TCP 80 포트]]**를 통해 통신합니다. 따라서, Zoo 를 설치할 Windows 기반 시스템에서 다음과 같은 소프트웨어들이 이미 **[[[ko:zoo:window7firewall|TCP 80 포트]]**를 사용하고 있으면 안 됩니다:

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP 서버]]
  * [[ko:zoo:zooskype|Skype]]