======LAN Zoo - System Requirements======
> **Product:** //[[zoo:home|Zoo]]//
> **Summary:** //Outlines the system requirements for running the LAN Zoo.//

=====System Requirements=====
  * A Windows-based system that supports [[https://learn.microsoft.com/en-us/dotnet/framework/get-started/system-requirements|Microsoft .NET Framework 4.8]] 
  * A network connection configured for TCP/IP
  * Virtual Machine host is supported
  * Run All Windows Updates
  * Computer with a monitor or display

==== TCP Port 80 ====
The LAN Zoo communicates using **[[[:zoo:window7firewall|TCP Port 80]]**. So, the Windows-based system you choose to install Zoo on should not already have other software running that uses **[[[:zoo:window7firewall|TCP Port 80]]**, including:

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zoo:zooskype|Skype]]

If the Zoo service is not able to start, try these two updates:
  *  [[https://learn.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist?view=msvc-170#visual-studio-2015-2017-2019-and-2022|Latest Microsoft Visual C++ Redistributable Version]] 
  * .NET Framework 4.8 should be installed with your latest Windows Update. However, you can also download them from [[https://dotnet.microsoft.com/en-us/download/dotnet-framework/net481|here]]

==== Monitor Required ====
WPF is the GUI library that the **Zoo Admin Application** utilizes.

A WPF (Windows Presentation Foundation) application can run on a machine without a physical monitor, but it might not be visible or functional in the same way as when a monitor is connected. WPF applications primarily rely on a visual display, and without a monitor, it can't render their UI elements.

If WPF can’t initialize the display & all the display details so it fails.
“Headless” computer setup with the Lan Zoo may display a blank dialog.

{{ :zoo:blank_zoo.png?400 |}}

**Workaround:** 
Add a monitor.
or
Remote on the headless Zoo server with MS RDP ([[https://learn.microsoft.com/en-us/troubleshoot/windows-server/remote/understanding-remote-desktop-protocol|Remote Desktop Protocol]]) from another workstation. 
It appears that RDP provides what WPF needs & can display the dialog.

