======Zoo - System Requirements======
> **Product:** //[[zoo:home|Zoo]]//
> **Summary:** //Outlines the system requirements for running the Zoo.//

=====System Requirements=====
  * A Windows-based system. ([[http://wiki.mcneel.com/zoo/zoowinxp|Windows XP]] not supported.)
  * [[https://www.microsoft.com/en-us/download/details.aspx?id=30653|Microsoft .NET Framework 4.5]]
  * A network connection configured for TCP/IP.

Note, the Zoo communicates using **[[[:zoo:window7firewall|TCP Port 80]]**. So, the Windows-based system you choose to install Zoo 5 on should not already have other software running that uses **[[[:zoo:window7firewall|TCP Port 80]]**, including:

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zoo:zooskype|Skype]]