======LAN Zoo - System Requirements======
> **Product:** //[[zoo:home|Zoo]]//
> **Summary:** //Outlines the system requirements for running the LAN Zoo.//

=====System Requirements=====
  * A Windows-based system that supports [[https://learn.microsoft.com/en-us/dotnet/framework/get-started/system-requirements|Microsoft .NET Framework 4.8]] 
  * A network connection configured for TCP/IP
  * Virtual Machine host is supported
  * Run All Windows Updates

Note, the LAN Zoo communicates using **[[[:zoo:window7firewall|TCP Port 80]]**. So, the Windows-based system you choose to install Zoo on should not already have other software running that uses **[[[:zoo:window7firewall|TCP Port 80]]**, including:

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zoo:zooskype|Skype]]

If the Zoo service is not able to start, try these two updates::
  *  [[https://learn.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist?view=msvc-170#visual-studio-2015-2017-2019-and-2022|Latest Microsoft Visual C++ Redistributable Version]] 
  * .NET Framework 4.8 should be installed with your latest Windows Update. However, you can also download them from here [[https://dotnet.microsoft.com/en-us/download/dotnet-framework/net481|here]]