====== Windows용 Rhino 5 시스템 요구 사항 안내 ======

> **요약:** //Windows용 Rhino 5 시스템 요구 사항 안내 페이지입니다.//

Windows용 Rhino 5는 다음과 같은 사양을 갖춘 일반적인 Windows 데스크톱과 노트북 컴퓨터에서 실행됩니다:

===== 하드웨어 =====
  * 1GB RAM. 8GB 이상 권장
  * DVD 드라이브 또는 인터넷 연결 : Rhino 설치에 필요합니다.
  * 600 MB 디스크 공간
  * OpenGL 2가 가능한 비디오 카드 권장 
  * 안내: Apple 하드웨어는 Bootcamp를 사용하는 경우에만 지원됩니다.


===== 운영 체제 =====
  * Windows 7 또는 8 - 권장
  * Windows Vista
  * Windows XP (32비트만 해당) Service Pack 3
  * 안내: 32비트 및 64비트 버전이 모두 64비트 Windows 시스템에 설치됩니다.


===== 인터넷 =====
  * 서비스 릴리스가 자동으로 다운로드됩니다.
  * 라이선스 유효성과 제품 등록이 간략해졌습니다.


===== 지원되지 않는 사양 =====
  * Linux
  * Windows NT, 95, 98, ME, 2000
  * Windows XP 64비트
  * Mac OS X: 현재 Mac용 Rhino의 개발이 진행 중입니다. [[http://www.rhino3d.com/mac|자세히...]]
  * OS X 컴퓨터에서 VMWare와 Parallels를 사용한 가상화 시스템