====== Requisitos de ART por región ======
Además de los [[https://www.rhino3d.com/art|Requisitos básicos de Formador Autorizado de Rhino]], 
cada región tiene requisitos adicionales que los candidatos ART deben completar antes de ser autorizados.
A continuación se muestran  los requisitos de ART por región.
  * [[art_requirements#Norteamérica y Pacífico|Norteamérica y Pacífico]]
  * [[art_requirements#Latin America|Latinoamérica]]
  * [[art_requirements#Europa, Oriente Medio y África|Europa, Oriente Medio y África]]
  * [[art_requirements#China, Hong Kong y Taiwan|China, Hong Kong y Taiwan]]
  * [[art_requirements#Asia del Sur|Asia del Sur]]
  * [[art_requirements#Corea|Corea]]
  * [[art_requirements#Japón|Japón]]

Una vez que cumpla con todos los requisitos, envíenos este [[http://my.mcneel.com/apply/art_application.asp|formulario.]] Después de revisar y aprobar su solicitud:
  * Le daremos acceso para que pueda publicar sus cursos de formación en la página web de Rhino de [[https://www.rhino3d.com/training/United_States/|Formación]].
  * Podrá ofrecer cursos de formación en un **[[https://www.rhino3d.com/artc|Centro de Formación Autorizado de Rhino]]**.
  * Podrá ofrecer formación personalizada. Su información aparecerá en la [[http://www2.mcneel.com/training/results_by_site.asp?SiteOffersCustomTraining=1&ProductID=1&SiteOffersFreeEduTraining=-1&show_by=site|página web de Formación Personalizada In-Situ de Rhino]].

------
===== Norteamérica y Pacífico ===== 
//Incluye Estados Unicos (excepto FL, GA, NC y SC), Canadá, Australia y Nueva Zelanda//

^ ^Requisitos ^ ^ 
|1. |Asistir a una formación de **Rhino 6 Nivel 1 ** en McNeel Seattle o participar en un curso en línea de **Rhino 6 para Windows Nivel 1** con McNeel Seattle como Asistente de formación.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Asistir a una formación de **Rhino 6 Nivel 2** en McNeel Seattle (sin excepciones) [[https://www.rhino3d.com/training/United_States/Washington|Calendario de formación en Seattle]] o escriba a [[jody@mcneel.com|Jody Mills]] para informarse de más fechas disponibles.|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Aprobar los **Tests de Certificación de Usuario de Rhino Nivel 1 y 2**.  [[https://wiki.mcneel.com/rhino/certified_test|Más información aquí.]]|{{ :rhino:results.png?175|}}  |
|4. |Completar todos los requisitos de ART adicionales que se indican [[https://www.rhino3d.com/art|en la página web de ART.]]| |

------
{{ :rhino:dofygh.jpg?200|}}
===== Sureste de Estados Unidos (FL, GA, NC y SC) + Latinoamérica ===== 

**Requisitos**

  * Experiencia mínima de dos años en modelado con Rhino.
  * Poseer una licencia actualizada de Rhino.
  * Estar familiarizado con los manuales de formación de Rhino Nivel 1 y 2.
  * Aprobar los **Tests de Certificación de Usuario de Rhino Nivel 1 y 2**.  [[https://wiki.mcneel.com/rhino/certified_test|Más información aquí.]]
  * Producir un vídeo o un tutorial escrito de Rhino. [[https://wiki.mcneel.com/rhino/art_video|Ver ejemplos...]]
  * Asistir a la Capacitación para nuevos ARTs. Instrucción proporcionada por los entrenadores del personal de McNeel.
       * Curso en línea de cinco sesiones de 4 horas, de 9 a. m. a 1 p. m., hora del Pacífico, Seattle.
       * Se requiere asistencia.
       * Envíe la tarea y las asignaciones de clase para que las revise el instructor. Proporcionar correcciones, si se solicita
       * Envíe al instructor un enlace de video o un archivo de cómo enseñaría el ejercicio de Nivel 2 The Scoop o The Dash. Proporcionar correcciones, si se solicita.

El próximo curso de capacitación requerida para candidatos de ART será presentado en línea por la oficina corporativa de McNeel (Seattle) y McNeel LA (Miami). Registrarse [[https://wiki.mcneel.com/rhino/training_program_na_region/art_class_outline_na|aquí]]. Esta capacitación se ofrece normalmente dos veces al año. Comuníquese con <jackie@mcneel.com> si tiene alguna pregunta. Costo: $295.



**Solicitud**

Una vez que cumpla con todos los requisitos, envíenos este [[https://my.mcneel.com/apply/art_application.asp|formulario.]] Después de revisar y aprobar su solicitud, le enviaremos un certificado de "Formador Autorizado de Rhino" y:

  * Le daremos acceso a [[https://my.mcneel.com/|my.mcneel.com]] para que agregue su información de contacto y aparezca en la página de Formación de Rhino.
  * Podrá ofrecer cursos de formación en un **Centro de Formación Autorizado de Rhino**.
  * Su información y calendario de formación se publicará automáticamente en la [[https://www.rhino3d.com/training/|página web de Formación de Rhino]].


------
===== Europa, Oriente medio y África =====

Consulte el [[https://wiki.mcneel.com/es/rhino/training_program_emea|PROGRAMA DE FORMADOR AUTORIZADO EN EMEA (EUROPA, ORIENTE MEDIO Y ÁFRICA)]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}

------
===== China, Hong Kong y Taiwan =====
^ ^Requisitos ^ ^ 
|1. |Asistir a una formación de **Rhino 6 Nivel 1** en McNeel China o participar en un curso en línea de **Formación de Rhino 6  Nivel 1** con McNeel China como Asistente de formación.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Asistir a un curso de formación de **Rhino Nivel 2** en McNeel China (sin excepciones).|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Aprobar los **Tests de Certificación de Usuario de Rhino Nivel 3 y 2**. [[https://wiki.mcneel.com/rhino/certified_test|Más información aquí.]]|
|4. |Completar todos los requisitos de ART adicionales que se indican [[https://www.rhino3d.com/art|en la página web de ART.]]|------

------
===== Asia del Sur ====
^ ^Requisitos ^ ^ 
|1. |Asistir a una formación de **Rhino Nivel 1** y **Rhino Nivel 2** en McNeel Asia del Sur (se evaluará su experiencia con Rhino a través de la formación.)|{{ :rhino:leveloneguide.jpg?200}}| 
|2. |Aprobar los **Tests de Certificación de Usuario de Rhino Nivel 1 y 2**.  [[https://wiki.mcneel.com/rhino/certified_test|Más información aquí.]]|{{ :rhino:results.png?175|}}  |
|3. |Completar todos los requisitos de ART adicionales que se indican [[https://www.rhino3d.com/art|en la página web de ART.]]| |
|4. |Completar y enviar su solicitud. La solicitud se revisará y procesará cuando se hayan cumplido todos los requisitos.| |

------
===== Corea =====
^ ^Requisitos ^ ^ 
|1. |Asistir a una formación de **Rhino 6 Nivel 1** en McNeel Corea o participar en un curso en línea de **Formación de Rhino 6  Nivel 1** con McNeel Corea como Asistente de formación.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Asistir a un curso de formación de **Rhino Nivel 2** en McNeel Corea (sin excepciones).|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Aprobar los **Tests de Certificación de Usuario de Rhino Nivel 1 y 2**.  [[https://wiki.mcneel.com/rhino/certified_test|Más información aquí.]]|{{ :rhino:results.png?175|}}  |
|4. |Completar todos los requisitos de ART adicionales que se indican [[https://www.rhino3d.com/art|en la página web de ART.]]|

------
===== Japón =====
^ ^Requisitos ^ ^ 
|1. |Asistir a una formación de **Rhino 6 Nivel 1** en McNeel Japón o participar en un curso en línea de **Formación de Rhino 6  Nivel 1** con McNeel Japón como Asistente de formación.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Asistir a un curso de formación de **Rhino Nivel 2** en McNeel Japón (sin excepciones).|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Aprobar los **Tests de Certificación de Usuario de Rhino Nivel 1 y 2**.  [[https://wiki.mcneel.com/rhino/certified_test|Más información aquí.]]|{{ :rhino:results.png?175|}}  |
|4. |Completar todos los requisitos de ART adicionales que se indican [[https://www.rhino3d.com/art|en la página web de ART.]]|

 