===== América Latina ===== 
//(más Florida, Georgia, Carolina del Norte, y Carolina del Sur)//

^ ^Requisitos ^ ^ 
|1. |Curso de **Rhinoceros Nivel 1** + **Grasshopper** en McNeel Miami (**presencial**). [[https://www.mcneelmiami.com/online|Online
]] |{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Asistir al curso **Rhinoceros Nivel 2** en McNeel Miami (sin excepciones.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pase las pruebas del **Examen de Certificación Nivel 1 y 2**  [[https://wiki.mcneel.com/es/rhino/certified_test|Detalles aquí.]]| |
|4. |Complete todos los demás requisitos de ART listados [[https://www.rhino3d.com/art|en la página web de ART aquí.]]| |