====== Requisitos de ART por región ======
Además de los [[https://www.rhino3d.com/art|Requisitos básicos de Formador Autorizado de Rhino]], 
cada región tiene requisitos adicionales que los candidatos ART deben completar antes de ser autorizados.
A continuación se muestran  los requisitos de ART por región.
  * [[art_requirements#North America & Pacific|Norteamérica y Pacífico]]
  * [[art_requirements#FL, GA, NC and SC + Latin America|FL, GA, NC y SC + Latinoamérica]]
  * [[art_requirements#Europe, Middle East, and Africa|Europa, Oriente Medio y África]]
  * [[art_requirements#China, Hong Kong, and Taiwan|China, Hong Kong y Taiwan]]
  * [[art_requirements#South Asia|Asia del Sur]]
  * [[art_requirements#Korea|Corea]]
  * [[art_requirements#Japan|Japón]]

Una vez que cumpla con todos los requisitos, envíenos este [[http://my.mcneel.com/apply/art_application.asp|formulario.]] Después de revisar y aprobar su solicitud:
  * Le daremos acceso para que pueda publicar sus cursos de formación en la página web de Rhino de [[https://www.rhino3d.com/training/United_States/|Formación]].
  * Podrá ofrecer cursos de formación en un **[[https://www.rhino3d.com/artc|Centro de Formación Autorizado de Rhino]]**.
  * Podrá ofrecer formación personalizada. Su información aparecerá en la página web de [[http://www2.mcneel.com/training/results_by_site.asp?SiteOffersCustomTraining=1&ProductID=1&SiteOffersFreeEduTraining=-1&show_by=site|Formación Personalizada In-Situ de Rhino]].
  * Para obtener más información sobre los beneficios que supone ser ART, consulte esta [[https://wiki.mcneel.com/es/rhino/art_requirements/incentives|página]].

------
===== Norteamérica y Pacífico ===== 
//Incluye Estados Unicos (excepto FL, GA, NC y SC), Canadá, Australia y Nueva Zelanda//

Consulte los detalles aquí: [[https://wiki.mcneel.com/rhino/training_program_na_region|PROGRAMA DE FORMACIÓN AUTORIZADA para Norteamérica]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}


------


===== FL, GA, NC y SC + Latinoamérica ===== 
//Florida, Georgia, Carolina del Norte, Carolina del Sur + Latinoamérica//

Consulte los detalles aquí: [[https://wiki.mcneel.com/rhino/training_program_la_region|PROGRAMA DE FORMACIÓN AUTORIZADA para Latinoamérica]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}


------

===== Europa, Oriente medio y África =====

Consulte los detalles aquí [[https://wiki.mcneel.com/es/rhino/training_program_emea|PROGRAMA DE FORMACIÓN AUTORIZADA para EMEA (Europa, Oriente Medio y África)]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}

------
===== China, Hong Kong y Taiwan =====
^ ^Requisitos ^ ^ 
|1. |Asistir a una formación de **Rhinoceros Nivel 1** en McNeel China o participar en un curso en línea de **Formación de Rhino Nivel 1 online** con McNeel China como Asistente de formación.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Asistir a la formación de **Rhinoceros Nivel 1** en McNeel China. (sin excepciones.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Aprobar los **Tests de Certificación de Usuario de Rhino Nivel 1 y 2**.  [[https://wiki.mcneel.com/rhino/certified_test|Más información aquí.]]| |
|4. |Completar todos los requisitos de ART adicionales que se indican [[https://www.rhino3d.com/art|en la página web de ART.]]|------

------
===== Asia del Sur ====
^ ^Requisitos ^ ^ 
|1. |Asistir a una formación de **Rhino Nivel 1** y **Rhino Nivel 2** en McNeel Asia del Sur (se evaluará su experiencia con Rhino a través de la formación.)|{{ :rhino:leveloneguide.jpg?200}}| 
|2. |Aprobar los **Tests de Certificación de Usuario de Rhino Nivel 1 y 2**.  [[https://wiki.mcneel.com/rhino/certified_test|Más información aquí.]]|{{ :rhino:results.png?175|}}  |
|3. |Completar todos los requisitos de ART adicionales que se indican [[https://www.rhino3d.com/art|en la página web de ART.]]| |
|4. |Completar y enviar su solicitud. La solicitud se revisará y procesará cuando se hayan cumplido todos los requisitos.| |

------
===== Corea =====
^ ^Requisitos ^ ^ 
|1. |Asistir a una formación de **Rhino 6 Nivel 6** en McNeel Corea o participar en un curso en línea de **Formación de Rhino 6  Nivel 1** con McNeel Corea como Asistente de formación.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Asistir a un curso de formación de **Rhino Nivel 2** en McNeel Corea (sin excepciones).|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Aprobar los **Tests de Certificación de Usuario de Rhino Nivel 1 y 2**.  [[https://wiki.mcneel.com/rhino/certified_test|Más información aquí.]]|{{ :rhino:results.png?175|}}  |
|4. |Completar todos los requisitos de ART adicionales que se indican [[https://www.rhino3d.com/art|en la página web de ART.]]|

------
===== Japón =====
^ ^Requisitos ^ ^ 
|1. |Asistir a una formación de **Rhino 6 Nivel 6** en McNeel Japón o participar en un curso en línea de **Formación de Rhino 6  Nivel 1** con McNeel Japón como Asistente de formación.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Asistir a un curso de formación de **Rhino Nivel 2** en McNeel Japón (sin excepciones).|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Aprobar los **Tests de Certificación de Usuario de Rhino Nivel 1 y 2**.  [[https://wiki.mcneel.com/rhino/certified_test|Más información aquí.]]|{{ :rhino:results.png?175|}}  |
|4. |Completar todos los requisitos de ART adicionales que se indican [[https://www.rhino3d.com/art|en la página web de ART.]]|

 