======Zoo - 系统需求======
> **产品：** //[[zh-tw:zoo:home|Zoo]]//
> **摘要：** //执行Zoo基本系统需求。//

=====系统需求=====
  * Windows作业系统。
    * Windows 7 或更新的作业系统。 
    * [[https://msdn.microsoft.com/zh-tw/library/8z6watww(v=vs.110).aspx|.NET Framework 系统需求]]
    * (不支持[[http://wiki.mcneel.com/zoo/zoowinxp|Windows XP]]。)
  * [[https://www.microsoft.com/zh-tw/download/details.aspx?id=30653|Microsoft .NET Framework 4.5]]
  * 配置TCP/IP的网络连线。

请注意，Zoo使用**[[[zh-tw:zoo:window7firewall|TCP Port 80]]**沟通，所以，您安装Zoo的Windows作业系统计算机需注意是否已经安装下列使用**[[[zh-tw:zoo:window7firewall|TCP Port 80]]**的软件，包括

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zh-tw:zoo:zooskype|Skype]]