======Zoo - 系统需求======
> **产品：** //[[zh:zoo:home|Zoo]]//
> **摘要：** //执行Zoo基本系统需求。//

=====系统需求=====
  * 支援[[https://learn.microsoft.com/zh-cn/dotnet/framework/get-started/system-requirements|Microsoft .NET Framework 4.8]]的微软作业系统
  * 配置TCP/IP的网络连线。
  * 支援虚拟机
  * 执行所有Windows更新

请注意，Zoo使用**[[[zh-tw:zoo:window7firewall|TCP Port 80]]**沟通，所以，您安装Zoo的Windows作业系统计算机需注意是否已经安装下列使用**[[[zh-tw:zoo:window7firewall|TCP Port 80]]**的软件，包括

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zh:zoo:zooskype|Skype]]

若 Zoo 服务无法开启，请试着下载并安装以下两个更新:

  *  [[https://learn.microsoft.com/zh-cn/cpp/windows/latest-supported-vc-redist?view=msvc-170#visual-studio-2015-2017-2019-and-2022|最新Microsoft Visual C++ 可转散发版本]]
  * .NET Framework 4.8 若您有执行Windows更新，应该就已经安装，但您也可以从[[https://dotnet.microsoft.com/zh-cn/download/dotnet-framework/net481|这里下载]]并安装。
