======Zoo - 系统需求======
> **产品:**//[[zoo:home|Zoo 5]]//
> **概要:**//运作Zoo 5之系统需求概要//

=====系统需求=====
  * Windows系统。
  * [[http://www.microsoft.com/en-us/download/details.aspx?id=17718|Microsoft .NET Framework 4]]
  * TCP/IP协议的网络。

注： Zoo 5 使用**[[[:zoo:window7firewall|TCP Port 80]]**。所以你选择安装Zoo 5的Windows系统不能够有其他运作程序也使用 **[[[:zoo:window7firewall|TCP Port 80]]**包括：

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zoo:zooskype|Skype]]
