====== ART Requirements by Region ======
In addition to the [[https://www.rhino3d.com/art|basic Authorized Rhino Trainer Requirements]] listed here, 
each region has additional items that an ART candidate will need to complete before being authorized.
Here are those requirements by region.

===== North America & Pacific ===== 
//Including United States (except FL, GA, NC, and SC), Canada, Australia and New Zealand//

^ ^Requirements ^ ^ 
|1. |Attend **Level 1 Rhino 6** at McNeel Seattle or participate in **Level 1 Rhino 6 for Windows Online** with McNeel Seattle as a Teaching Assistant.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Level 2 Rhino 6** at McNeel Seattle. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]| |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]| |
===== Latin America ===== 
//(plus FL, GA, NC, and SC)//

^ ^Requirements ^ ^ 
|1. |**Rhino Level 1** + **Grasshopper** course at McNeel Miami.  |{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |**Rhino Level 2** course at McNeel Miami or [[https://www.mcneelmiami.com/online|Online]].|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests** [[https://wiki.mcneel.com/es/rhino/certified_test|details here]].| |
|4. |Complete all other ART requirements listed [[https://www.rhino3d.com/art|on the ART web page here]].| |
===== Europe, Middle East, and Africa =====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel Europe or participate in **Rhinoceros Level 1 Training online** with McNeel Europe as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel Europe. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]| |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|


===== China, Hong Kong, and Taiwan =====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel China or participate in **Rhinoceros Level 1 Training online** with McNeel China as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel China. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]| |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|


===== South Asia ====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel South Asia or participate in **Rhinoceros Level 1 Training online** with McNeel South Asia as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel South Asia. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]| |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|


===== Korea =====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel Korea or participate in **Rhinoceros Level 1 Training online** with McNeel Korea as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel Korea. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]| |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|


===== Japan =====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel Japan or participate in **Rhinoceros Level 1 Training online** with McNeel Japan as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel Japan. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]| |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|

 