====== ART Requirements by Region ======
In addition to the [[https://www.rhino3d.com/art|basic Authorized Rhino Trainer Requirements]], 
each region has additional items that an ART candidate will need to complete before being authorized.
Below are those requirements by region.
  * [[art_requirements#North America & Pacific|North America & Pacific]]
  * [[art_requirements#FL, GA, NC and SC + Latin America|FL, GA, NC and SC + Latin America]]
  * [[art_requirements#Europe, Middle East, and Africa|Europe, Middle East, and Africa]]
  * [[art_requirements#China, Hong Kong, and Taiwan|China, Hong Kong, and Taiwan]]
  * [[art_requirements#South Asia|South Asia]]
  * [[art_requirements#Korea|Korea]]
  * [[art_requirements#Japan|Japan ]]

Once you meet all the requirements, please send us this [[http://my.mcneel.com/apply/art_application.asp|form.]] After review and approval of your application:
  * We will give you access to post your training sessions to Rhino web page for [[https://www.rhino3d.com/training/United_States/|Training]].
  * You can provide training at an **[[https://www.rhino3d.com/artc|Authorized Rhino Training Center]]**.
  * You can offer custom training. Your details will be posted on the [[http://www2.mcneel.com/training/results_by_site.asp?SiteOffersCustomTraining=1&ProductID=1&SiteOffersFreeEduTraining=-1&show_by=site|Rhino On-Site Training]] web page.
  * For additional incentives and practical outcomes of becoming an ART, see this [[https://wiki.mcneel.com/rhino/art_requirements/incentives|page]].

------
===== North America & Pacific ===== 
//Including United States (except FL, GA, NC, and SC), Canada, Australia and New Zealand//

See details here: [[https://wiki.mcneel.com/rhino/training_program_na_region|AUTHORIZED TRAINING PROGRAM North American Region]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}


------


===== FL, GA, NC and SC + Latin America ===== 
//Florida, Georgia, North Carolina, South Carolina + Latin America//

See details here: [[https://wiki.mcneel.com/rhino/training_program_la_region|AUTHORIZED TRAINING PROGRAM Latin America Region]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}


------

===== Europe, Middle East, and Africa =====

See details here: [[https://wiki.mcneel.com/rhino/training_program_emea|AUTHORIZED TRAINING PROGRAM EMEA (EUROPE, MIDDLE EAST AND AFRICA)]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}

------
===== China, Hong Kong, and Taiwan =====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel China or participate in **Rhinoceros Level 1 Training online** with McNeel China as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel China. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]| |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|------

------
===== South Asia ====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** and **Rhinoceros Level 2 **at McNeel South Asia (Your Rhino expertise will be evaluated throughout the Rhino Training.)|{{ :rhino:leveloneguide.jpg?200}}| 
|2. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]|{{ :rhino:results.png?175|}} |
|3. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]| |
|4. |Complete and submit your application. Your application will be reviewed and processed when all requirements are completed.| |

------
===== Korea =====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel Korea or participate in **Rhinoceros Level 1 Training online** with McNeel Korea as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel Korea. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]|{{ :rhino:results.png?175|}}  |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|

------
===== Japan =====
^ ^Requirements ^ ^ 
|1. |Attend **Rhinoceros Level 1** at McNeel Japan or participate in **Rhinoceros Level 1 Training online** with McNeel Japan as a Teaching Assistant|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Attend **Rhinoceros Level 2** at McNeel Japan. (no exceptions.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Pass the **Level 1 & 2 Rhino User Certification Tests**  [[https://wiki.mcneel.com/rhino/certified_test|Details here.]]|{{ :rhino:results.png?175|}}  |
|4. |Complete all other ART Requirement [[https://www.rhino3d.com/art|on the ART web page here.]]|

 