======LAN Zoo – システム要件======
> **製品:** //[[ja:zoo:home|Zoo]]//
> **要約:** //LAN Zooの実行に必要なシステム要件の概要//

=====システム要件=====
  * [[https://learn.microsoft.com/ja-jp/dotnet/framework/get-started/system-requirements|Microsoft .NET Framework 4.8]] をサポートするWindowsベースのシステム
    * TCP/IP が構成されたネットワーク接続
    * 仮想マシン ホストはサポートされています

メモ - LAN Zooは通信に**[[[:ja:zoo:window7firewall|TCPポート80]]**を使います。このためZooをインストールするWindowsベースのシステムに、以下を含む**[[[:ja:zoo:window7firewall|TCPポート80]]**を使う他のソフトウェアが実行されていてはいけません:

  * [[http://www.iis.net/| Windows®サービス用のインターネット インフォメーション サービス（IIS）]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[:ja:zoo:zooskype|Skype]]
