======Zoo – システム要件======
> **製品:** //[[ja:zoo:home|Zoo]]//
> **要約:** //Zooの実行に必要なシステム要件の概要//

=====システム要件=====
  * Windowsベースのシステム
    * Windows 7 またはそれ以降
    *（[[http://wiki.mcneel.com/ja/zoo/zoowinxp|Windows XP]] はサポートしていません）
  * [[https://www.microsoft.com/ja-jp/download/details.aspx?id=30653|Microsoft .NET Framework 4.5]]
  * TCP/IP が構成されたネットワーク接続

メモ - Zooは通信に**[[[:ja:zoo:window7firewall|TCPポート80]]**を使います。このためZoo 5 をインストールするWindowsベースのシステムに、以下を含む**[[[:ja:zoo:window7firewall|TCPポート80]]**を使う他のソフトウェアが実行されていてはいけません:

  * [[http://www.iis.net/| Windows®サービス用のインターネット インフォメーション サービス（IIS）]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[:ja:zoo:zooskype|Skype]]
