======Zoo - Requisitos del sistema======
> **Producto:** //[[zoo:home|Zoo]]//
> **Resumen:** //Requisitos del sistema para ejecutar el Zoo.//

=====Requisitos del sistema=====
  * Sistema basado en Windows que admita Microsoft .NET Framework 4.5:
    * Windows 7 SP1 o posterior 
    * [[https://msdn.microsoft.com/en-us/library/8z6watww(v=vs.110).aspx|Sistemas operativos compatibles]]
    * ([[http://wiki.mcneel.com/es/zoo/zoowinxp|Windows XP]] no es compatible.)
  * [[https://www.microsoft.com/en-us/download/details.aspx?id=30653|Microsoft .NET Framework 4.5]]
  * Una conexión de red configurada para TCP/IP.

Tenga en cuenta que el Zoo se comunica utilizando el **[[[http://wiki.mcneel.com/es/zoo/window7firewall|puerto TCP 80]]**. De modo que el sistema basado en Windows que elija para instalar Zoo 5 no debe tener otro software en ejecución que utilice el **[[[http://wiki.mcneel.com/es/zoo/window7firewall|puerto TCP 80]]**, por ejemplo:

  * [[http://www.iis.net/|Internet Information Services (IIS) para Windows® Services]]
  * [[http://httpd.apache.org/|Servidor Apache HTTP]]
  * [[http://wiki.mcneel.com/es/zoo/zooskype|Skype]]