======LAN Zoo - Configuration requise======
> **Produit :** //[[fr:zoo:home|Zoo]]//
> **Résumé :** //Indique la configuration requise pour utiliser le LAN Zoo.//

=====Configuration requise=====
  * Un système sous Windows prenant en charge [[https://learn.microsoft.com/fr-fr/dotnet/framework/get-started/system-requirements|Microsoft .NET Framework 4.8]]
  * Une connexion réseau configurée pour TCP/IP
  * Possibilité d'utiliser une machine virtuelle en hôte

Attention, LAN Zoo communique à travers le **[[[:fr:zoo:window7firewall|Port TCP 80]]**. Le système Windows sur lequel vous choisissez d'installer le LAN Zoo ne doit pas avoir d'autre logiciel utilisant le **[[[:fr:zoo:window7firewall|Port TCP 80]]**, tel que :

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[fr:zoo:zooskype|Skype]]