======Zoo - Configuration requise======
> **Produit :** //[[fr:zoo:home|Zoo]]//
> **Résumé :** //Indique la configuration requise pour utiliser le Zoo.//

=====Configuration requise=====
  * Un système sous Windows compatible avec .NET Framework 4.5 
    * Windows 7 SP1 ou plus récent 
    * [[https://msdn.microsoft.com/en-us/library/8z6watww(v=vs.110).aspx|Systèmes d'exploitation pris en charge]]
    * ([[http://wiki.mcneel.com/fr/zoo/zoowinxp|Windows XP]] non pris en charge.)
  * [[https://www.microsoft.com/en-us/download/details.aspx?id=30653|Microsoft .NET Framework 4.5]]
  * Une connexion réseau configurée pour TCP/IP.

Attention, Zoo communique à travers le **[[[:fr:zoo:window7firewall|Port TCP 80]]**. Le système Windows sur lequel vous choisissez d'installer Zoo 5 ne doit pas avoir d'autre logiciel utilisant le **[[[:zoo:window7firewall|Port TCP 80]]**, tel que :

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[fr:zoo:zooskype|Skype]]