======Zoo - Configuration requise======
> **Produit :** //[[fr:zoo:home|Zoo 5]]//
> **Résumé :** //Indique la configuration requise pour utiliser le Zoo 5.//

=====Configuration requise=====
  * Un système sous Windows.
  * [[http://www.microsoft.com/fr-fr/download/details.aspx?id=17718|Microsoft .NET Framework 4]]
  * Une connexion réseau configurée pour TCP/IP.

Attention, Zoo 5 communique à travers le **[[[:zoo:window7firewall|Port TCP 80]]**. Le système Windows sur lequel vous choisissez d'installer Zoo 5 ne doit pas avoir d'autre logiciel utilisant le **[[[:zoo:window7firewall|Port TCP 80]]**, tel que :

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[fr:zoo:zooskype|Skype]]