====== Conditions requises pour devenir ART ======
Outre les [[https://www.rhino3d.com/art|conditions de bases pour devenir Formateur agréé pour Rhino]], 
chaque région impose des critères supplémentaires devant être remplis par les candidats avant d'être agréés. 
Vous trouverez ici les différents critères selon les régions. 
  * [[art_requirements#Amérique du Nord et Pacifique|Amérique du Nord et Pacifique]]
  * [[art_requirements#FL, GA, SC, NC, et Amérique Latine|Amérique Latine]]
  * [[art_requirements#Europe, Moyen-Orient et Afrique|Europe, Moyen-Orient et Afrique]]
  * [[art_requirements#Chine, Hong Kong et Taïwan|Chine, Hong Kong et Taïwan]]
  * [[art_requirements#Asie du sud|Asie du sud]]
  * [[art_requirements#Corée|Corée]]
  * [[art_requirements#Japon|Japon]]

Lorsque vous remplissez tous les critères, merci de nous envoyer ce [[http://my.mcneel.com/apply/art_application.asp|formulaire.]] Une fois votre candidature vérifiée et approuvée :
  * Nous vous donnerons un accès pour publier vos sessions de formation sur le site web de Rhino pour la [[https://www.rhino3d.com/training/France/|formation]].
  * Vous pouvez donner des formations dans un **[[https://www.rhino3d.com/artc|Centre de formation agréé pour Rhino]]**.
  * Vous pouvez proposer des formations à la carte. Vos informations seront publiées sur la [[http://www2.mcneel.com/training/results_by_site.asp?SiteOffersCustomTraining=1&ProductID=1&SiteOffersFreeEduTraining=-1&show_by=site|page web des formations de Rhino sur site]].

------
===== Europe, Moyen-Orient et Afrique =====

Consultez le [[https://wiki.mcneel.com/fr/rhino/training_program_emea|Programme de formations agréées pour la région EMEA (Europe, Moyen-Orient et Afrique)]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}

------
===== Amérique du Nord et Pacifique ===== 
//États-Unis sauf FL, GA, NC, et SC, Canada, Australie et Nouvelle Zélande//

^ ^Conditions requises ^ ^ 
|1. |Assister à une formation **Niveau 1 sur Rhino 6** dans les bureaux de McNeel Seattle ou participer à une **formation de Niveau 1 sur Rhino 6 pour Windows en ligne** avec McNeel Seattle en tant qu'assistant de formation.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Assister à une **formation de Niveau 2 sur Rhino 6** dans les bureaux de McNeel Seattle. (aucune exception.) Consultez le [[https://www.rhino3d.com/training/United_States/Washington|Programme des formations de Seattle]] ou envoyez un message à [[jody@mcneel.com|Jody Mills]]  pour connaître les autres dates.|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Réussir les **Tests de certification de Niveau 1 et 2 sur Rhino**  [[https://wiki.mcneel.com/rhino/certified_test|Plus d'informations ici.]]|{{ :rhino:results.png?175|}}  |
|4. |Remplir tous les critères supplémentaires indiqués [[https://www.rhino3d.com/art|sur la page ART du site de Rhino.]]| |

------
{{ :rhino:dofygh.jpg?200|}}
===== FL, GA, SC, NC, et Amérique Latine ===== 

**Conditions requises**

  * Expérience de deux ans en modélisation dans Rhino.
  * Bonne connaissance des manuels de formation de Niveau 1 et 2 pour Rhino
  * Avoir réalisé une formation de **Niveau 1 sur Rhino + Grasshopper** dans les bureaux de McNeel Miami avec un formateur de McNeel. 
  * Avoir réalisé une formation de **Niveau 2 sur Rhino** dans les bureaux de McNeel Miami ou [[https://www.mcneelmiami.com/online|en ligne]] avec un formateur de McNeel.
  * Réussir les **Tests de certification de Niveau 1 et 2 sur Rhino**  [[https://wiki.mcneel.com/es/rhino/certified_test|Plus d'informations ici.]]
  * Avoir produit une vidéo ou écrit un tutoriel sur Rhino. [[http://wiki.mcneel.com/rhino/art_video|Voir des exemples...]]
  * Posséder une licence de Rhino actualisée.

**Candidature**

Lorsque vous remplissez tous les critères, veuillez vous envoyer ce [[https://my.mcneel.com/apply/art_application.asp|formulaire]]. Une fois votre candidature vérifiée et approuvée, nous vous enverrons un certificat de "Formateur agréé pour Rhino" et :

  * Nous vous donnerons accès au site [[https://my.mcneel.com/|my.mcneel.com]] pour ajouter vos informations de contact et apparaître sur la page de formation de Rhino.
  * Vous pouvez donner des formations dans un **Centre de formation agréé Rhino**.
  * Vous pouvez proposer des formations à la carte. Vos coordonnées seront ajoutées sur la [[https://www.rhino3d.com/training|page de formation du site de Rhino]].


------

===== Chine, Hong Kong et Taiwan =====
^ ^Conditions requises ^ ^ 
|1. |Assister à une formation **Niveau 1 sur Rhinoceros ** dans les bureaux de McNeel Chine ou participer à une **formation de Niveau 1 sur Rhinoceros en ligne** avec McNeel Chine en tant qu'assistant de formation.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Assister à une **formation de Niveau 2 sur Rhinoceros** dans les bureaux de McNeel Chine. (aucune exception.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Réussir les **Tests de certification de Niveau 1 et 2 sur Rhino**  [[https://wiki.mcneel.com/rhino/certified_test|Plus d'informations ici.]]| |
|4. |Remplir tous les autre critères indiqués [[https://www.rhino3d.com/art|sur la page ART du site de Rhino.]]|------

------
===== Asie du sud ====
^ ^Conditions requises ^ ^ 
|1. |Assister à une formation **Niveau 1 sur Rhinoceros** et **Niveau 2 sur Rhinoceros** dans les bureaux de McNeel Asie du Sud (votre niveau de maîtrise de Rhino sera évalué au cours de la formation.)|{{ :rhino:leveloneguide.jpg?200}}| 
|2. |Réussir les **Tests de certification de Niveau 1 et 2 sur Rhino**  [[https://wiki.mcneel.com/rhino/certified_test|Plus d'informations ici.]]|{{ :rhino:results.png?175|}}  |
|3. |Remplir tous les autre critères indiqués [[https://www.rhino3d.com/art|sur la page ART du site de Rhino.]]| |
|4. |Remplir et envoyer votre candidature. Celle-ci sera vérifiée et traitée lorsque tous les critères seront remplis. |

------
===== Corée =====
^ ^Conditions requises ^ ^ 
|1. |Assister à une formation **Niveau 1 sur Rhinoceros ** dans les bureaux de McNeel Corée ou participer à une **formation de Niveau 1 sur Rhinoceros en ligne** avec McNeel Corée en tant qu'assistant de formation.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Assister à une **formation de Niveau 2 sur Rhinoceros** dans les bureaux de McNeel Corée. (aucune exception.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Réussir les **Tests de certification de Niveau 1 et 2 sur Rhino**  [[https://wiki.mcneel.com/rhino/certified_test|Plus d'informations ici.]]|{{ :rhino:results.png?175|}}  |
|4. |Remplir tous les autre critères indiqués [[https://www.rhino3d.com/art|sur la page ART du site de Rhino.]]|

------
===== Japon =====
^ ^Conditions requises ^ ^ 
|1. |Assister à une formation **Niveau 1 sur Rhinoceros ** dans les bureaux de McNeel Japon ou participer à une **formation de Niveau 1 sur Rhinoceros en ligne** avec McNeel Japon en tant qu'assistant de formation.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Assister à une **formation de Niveau 2 sur Rhinoceros** dans les bureaux de McNeel Japon.  (aucune exception.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Réussir les **Tests de certification de Niveau 1 et 2 sur Rhino**  [[https://wiki.mcneel.com/rhino/certified_test|Plus d'informations ici.]]|{{ :rhino:results.png?175|}}  |
|4. |Remplir tous les autre critères indiqués [[https://www.rhino3d.com/art|sur la page ART du site de Rhino.]]|

  