====== Conditions requises pour devenir ART ======
Outre les [[https://www.rhino3d.com/art|conditions de bases pour devenir Formateur agréé pour Rhino]], 
chaque région impose des critères supplémentaires devant être remplis par les candidats avant d'être agréés.
Vous trouverez ici les différents critères selon les régions.
  * [[art_requirements#North America & Pacific|Amérique du Nord et Pacifique]]
  * [[art_requirements#FL, GA, NC and SC + Latin America|FL, GA, NC et SC + Amérique Latine]]
  * [[art_requirements#Europe, Middle East, and Africa|Europe, Moyen-Orient et Afrique]]
  * [[art_requirements#China, Hong Kong, and Taiwan|Chine, Hong Kong et Taïwan]]
  * [[art_requirements#South Asia|Asie du sud]]
  * [[art_requirements#Korea|Corée]]
  * [[art_requirements#Japan|Japon]]

Lorsque vous remplissez tous les critères, veuillez nous envoyer ce [[http://my.mcneel.com/apply/art_application.asp|formulaire]]. Après avoir examiné et approuvé votre demande :
  * Nous vous donnerons un accès pour publier vos sessions de formation sur le site web de Rhino pour la [[https://www.rhino3d.com/training/France/|formation]].
  * Vous pouvez donner des formations dans un **[[https://www.rhino3d.com/artc|Centre de formation agréé pour Rhino]]**.
  * Vous pouvez proposer des formations à la carte. Vos informations seront publiées sur la [[http://www2.mcneel.com/training/results_by_site.asp?SiteOffersCustomTraining=1&ProductID=1&SiteOffersFreeEduTraining=-1&show_by=site|page web des formations de Rhino sur site]].
  * Pour plus d’informations sur les incitations et les avantages concrets de devenir formateur agréé, consultez cette [[https://wiki.mcneel.com/rhino/art_requirements/incentives|page]].

------
===== Amérique du Nord et Pacifique ===== 
//États-Unis sauf FL, GA, NC, et SC, Canada, Australie et Nouvelle Zélande//

Consultez les informations détaillées sur la page suivante : [[https://wiki.mcneel.com/rhino/training_program_na_region|PROGRAMME DES FORMATIONS AGRÉÉES pour la région Amérique du Nord]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}


------


===== FL, GA, SC, NC, et Amérique Latine ===== 
// Floride, Géorgie, Caroline du Nord, Caroline du Sud + Amérique Latine//

Consultez les informations détaillées sur la page suivante : [[https://wiki.mcneel.com/rhino/training_program_la_region|PROGRAMME DES FORMATIONS AGRÉÉES pour la région Amérique Latine]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}


------

===== Europe, Moyen-Orient et Afrique =====

Consultez les informations détaillées sur la page suivante : [[https://wiki.mcneel.com/fr/rhino/training_program_emea|PROGRAMME DES FORMATIONS AGRÉÉES pour la région EMEA (Europe, Moyen-Orient et Afrique)]]
\\
\\
{{:rhino:artlow.png|}}
{{:rhino:artclow.png|}}

------
===== Chine, Hong Kong et Taiwan =====
^ ^Conditions requises ^ ^ 
|1. |Assister à une formation **Niveau 1 sur Rhinoceros ** dans les bureaux de McNeel Chine ou participer à une **formation de Niveau 1 sur Rhinoceros en ligne** avec McNeel Chine en tant qu'assistant de formation.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Assister à une **formation de Niveau 2 sur Rhinoceros** dans les bureaux de McNeel Chine. (aucune exception.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Réussir les **Tests de certification de Niveau 1 et 2 sur Rhino**  [[https://wiki.mcneel.com/rhino/certified_test|Plus d'informations ici.]]| |
|4. |Remplir tous les autres critères indiqués [[https://www.rhino3d.com/art|sur la page ART du site de Rhino.]]|------

------
===== Asie du sud ====
^ ^Conditions requises ^ ^ 
|1. |Assister à une formation **Niveau 1 sur Rhinoceros** et **Niveau 2 sur Rhinoceros** dans les bureaux de McNeel Asie du Sud (votre niveau de maîtrise de Rhino sera évalué au cours de la formation.)|{{ :rhino:leveloneguide.jpg?200}}| 
|2. |Réussir les **Tests de certification de Niveau 1 et 2 sur Rhino**  [[https://wiki.mcneel.com/rhino/certified_test|Plus d'informations ici.]]|{{ :rhino:results.png?175|}}  |
|3. |Remplir tous les autres critères indiqués [[https://www.rhino3d.com/art|sur la page ART du site de Rhino.]]| |
|4. |Remplir et envoyer votre candidature. Celle-ci sera vérifiée et traitée lorsque tous les critères seront remplis.| |

------
===== Corée =====
^ ^Conditions requises ^ ^ 
|1. |Assister à une formation **Niveau 1 sur Rhinoceros ** dans les bureaux de McNeel Corée ou participer à une **formation de Niveau 1 sur Rhinoceros en ligne** avec McNeel Corée en tant qu'assistant de formation.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Assister à une **formation de Niveau 2 sur Rhinoceros** dans les bureaux de McNeel Corée. (aucune exception.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Réussir les **Tests de certification de Niveau 1 et 2 sur Rhino**  [[https://wiki.mcneel.com/rhino/certified_test|Plus d'informations ici.]]|{{ :rhino:results.png?175|}}  |
|4. |Remplir tous les autres critères indiqués [[https://www.rhino3d.com/art|sur la page ART du site de Rhino.]]|

------
===== Japon =====
^ ^Conditions requises ^ ^ 
|1. |Assister à une formation **Niveau 1 sur Rhinoceros ** dans les bureaux de McNeel Japon ou participer à une **formation de Niveau 1 sur Rhinoceros en ligne** avec McNeel Japon en tant qu'assistant de formation.|{{ :rhino:leveloneguide.jpg?200|}}| 
|2. |Assister à une **formation de Niveau 2 sur Rhinoceros** dans les bureaux de McNeel Japon. (aucune exception.)|{{ :rhino:rhinolevel2guide.jpg?200|}}|
|3. |Réussir les **Tests de certification de Niveau 1 et 2 sur Rhino**  [[https://wiki.mcneel.com/rhino/certified_test|Plus d'informations ici.]]|{{ :rhino:results.png?175|}}  |
|4. |Remplir tous les autres critères indiqués [[https://www.rhino3d.com/art|sur la page ART du site de Rhino.]]|

 