======LAN Zoo - Systemanforderungen======
> **Produkt:** //[[de:zoo:home|Zoo]]//
> **Zusammenfassung:** //Die Systemvoraussetzungen für den LAN Zoo.//

=====Systemanforderungen=====
  * Ein auf Windows basierendes System, welches das [[https://learn.microsoft.com/en-us/dotnet/framework/get-started/system-requirements|Microsoft .NET Framework 4.8]] unterstützt
  * Eine für TCP/IP konfigurierte Netzwerkverbindung
  * Virtuelle Maschine wird als Host unterstützt

Bitte beachten: der LAN Zoo kommuniziert über den **[[[:de:zoo:window7firewall|TCP-Port 80]]**. Es ist daher wichtig, dass Ihr Windows-basiertes System, auf dem Sie Zoo installieren möchten, nicht schon andere Software beherbergt, die den **[[[:de:zoo:window7firewall|TCP-Port 80]]** nutzen. Dazu gehören:

  * [[http://www.iis.net/|Internetinformationsdienste (IIS) für Windows®-Dienste]]
  * [[http://httpd.apache.org/|Apache HTTP-Server]]
  * [[zoo:zooskype|Skype]]