======Zoo - Requisiti di sistema======
> **Prodotto:** //[[it:zoo:home|Zoo]]//
> **Sommario:** //I requisiti di sistema per l'esecuzione dello Zoo.//

=====Requisiti di sistema=====
  * Un sistema basato su Windows che supporti .NET Framework 4.5:
    * Windows 7 SP1 o successivi 
    * [[https://msdn.microsoft.com/en-us/library/8z6watww(v=vs.110).aspx|Sistemi operativi supportati]]
    * ([[http://wiki.mcneel.com/zoo/zoowinxp|Windows XP]] non supportato.)
  * [[https://www.microsoft.com/en-us/download/details.aspx?id=30653|Microsoft .NET Framework 4.5]]
  * Una connessione di rete configurata per TCP/IP.

Nota: lo Zoo comunica usando la **[[[it:zoo:window7firewall|porta TCP 80]]**. Quindi, sul sistema basato su Windows su cui decidete di installare lo Zoo non dovrebbero già essere in esecuzione altri software che usano la **[[[it:zoo:window7firewall|porta TCP 80]]**, tra cui:

  * [[http://www.iis.net/|Internet Information Services (IIS) per i servizi di Windows®]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zoo:zooskype|Skype]]