======Zoo - Requisiti di sistema======
> **Prodotto:** //[[it:zoo:home|Zoo 5]]//
> ** Sommario:** //Illustra i requisiti di sistema per l'esecuzione dello Zoo 5.//

=====Requisiti di sistema=====
  * Un sistema basato su Windows.
  * [[http://www.microsoft.com/en-us/download/details.aspx?id=17718|Microsoft .NET Framework 4]]
  * Una connessione di rete configurata per TCP/IP.

Nota: lo Zoo 5 comunica usando la **[[[:it:zoo:window7firewall|porta TCP 80]]**. Quindi, sul sistema basato su Windows su cui decidete di installare lo Zoo 5 non dovrebbero già essere in esecuzione altri software che usano la **[[[:it:zoo:window7firewall|porta TCP 80]]**, tra cui:

  * [[http://www.iis.net/|Internet Information Services (IIS) per i servizi di Windows®]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zoo:zooskype|Skype]]