======Zoo - 系統需求======
> **產品：** //[[zh-tw:zoo:home|Zoo]]//
> **摘要：** //執行Zoo基本系統需求。//

=====系統需求=====

  * 支援[[https://learn.microsoft.com/zh-tw/dotnet/framework/get-started/system-requirements|Microsoft .NET Framework 4.8]]的微軟作業系統
  * 配置TCP/IP的網路連線
  * 支援虛擬機
  * 執行所有Windows更新


請注意，Zoo使用**[[[zh-tw:zoo:window7firewall|TCP Port 80]]**溝通，所以，您安裝Zoo的Windows作業系統電腦需注意是否已經安裝下列使用**[[[zh-tw:zoo:window7firewall|TCP Port 80]]**的軟體，包括

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zh-tw:zoo:zooskype|Skype]]


若 Zoo 服務無法開啟，請試著下載並安裝以下兩個更新:

  *  [[https://learn.microsoft.com/zh-tw/cpp/windows/latest-supported-vc-redist?view=msvc-170#visual-studio-2015-2017-2019-and-2022|最新Microsoft Visual C++ 可轉散發版本]] 
  * .NET Framework 4.8 若您有執行Windows更新，應該就已經安裝，但您也可以從[[https://dotnet.microsoft.com/zh-tw/download/dotnet-framework/net481|這裡下載]]並安裝。
