======Zoo - 系統需求======
> **產品：** //[[zh-tw:zoo:home|Zoo]]//
> **摘要：** //執行Zoo基本系統需求。//

=====系統需求=====

  * 支援[[https://learn.microsoft.com/zh-tw/dotnet/framework/get-started/system-requirements|Microsoft .NET Framework 4.8]]的微軟作業系統
  * 配置TCP/IP的網路連線。
  * 支援虛擬機。


請注意，Zoo使用**[[[zh-tw:zoo:window7firewall|TCP Port 80]]**溝通，所以，您安裝Zoo的Windows作業系統電腦需注意是否已經安裝下列使用**[[[zh-tw:zoo:window7firewall|TCP Port 80]]**的軟體，包括

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zh-tw:zoo:zooskype|Skype]]

