======Zoo - 系統需求======
> **產品：** //[[zh-tw:zoo:home|Zoo]]//
> **摘要：** //執行Zoo基本系統需求。//

=====系統需求=====
  * Windows作業系統。
    * Windows 7 SP1 或更新的作業系統。 
    * [[https://msdn.microsoft.com/zh-tw/library/8z6watww(v=vs.110).aspx|.NET Framework 系統需求]]
    * (不支援[[http://wiki.mcneel.com/zoo/zoowinxp|Windows XP]]。)
  * [[https://www.microsoft.com/zh-tw/download/details.aspx?id=30653|Microsoft .NET Framework 4.5]]
  * 配置TCP/IP的網路連線。

請注意，Zoo使用**[[[zh-tw:zoo:window7firewall|TCP Port 80]]**溝通，所以，您安裝Zoo的Windows作業系統電腦需注意是否已經安裝下列使用**[[[zh-tw:zoo:window7firewall|TCP Port 80]]**的軟體，包括

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zh-tw:zoo:zooskype|Skype]]