======Zoo - 系統需求======
> **產品:**//[[zoo:home|Zoo 5]]//
> **概要:**//運作Zoo 5之系統需求概要//

=====系統需求=====
  * Windows系統。
  * [[http://www.microsoft.com/en-us/download/details.aspx?id=17718|Microsoft .NET Framework 4]]
  * TCP/IP協議的網絡。

註： Zoo 5 使用**[[[:zoo:window7firewall|TCP Port 80]]**。所以你選擇安裝Zoo 5的Windows系統不能夠有其他運作程式也使用 **[[[:zoo:window7firewall|TCP Port 80]]**包括：

  * [[http://www.iis.net/|Internet Information Services (IIS) for Windows® Services]]
  * [[http://httpd.apache.org/|Apache HTTP Server]]
  * [[zoo:zooskype|Skype]]
