====== System requirements for Mac Rhino ======

=== Computer hardware ===

  * Intel Macintosh computer running OS X 10.7 (Lion) or later.
  * At least 4 gigabytes of RAM is suggested.
  * Mouse with multiple buttons and a scroll wheel are recommended; however, you can also use a one-button Macintosh mouse or a laptop trackpad.

=== Data files compatible with the Windows version ===

  * The Rhino files are identical between Windows **Rhino V5.0** and Mac Rhino.  You can export files in Rhino V4 format for compatibility with Windows Rhino V4.

=== Spaceball/SpaceExplorer are not supported ===

  * Only the SpaceNavigator is supported for Macintosh.