====== System requirements for Mac Rhino ======

=== Computer hardware ===

  * Intel Macintosh computer running OS X 10.7 (Lion) or later.
  * 1 GB RAM. 8 GB or more is recommended.
  * Mouse with multiple buttons and a scroll wheel is recommended.

=== Data files compatible with the Windows version ===

  * The Rhino files are identical between Windows **Rhino 5** and Mac Rhino.

=== Spaceball/SpaceExplorer are not supported ===

  * Only the SpaceNavigator is supported for Macintosh.